.header {
    margin: 0 48px;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0 16px;
        padding: 16px 0 48px;
    }
}