.place__paragraph {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 660px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
