.intro {
  margin: 92px 0;
  padding-left: 148px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 88px 24px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 64px 16px;
  }
}
